---
import SkillList from '../components/SkillList.astro';
import SearchBar from '../components/SearchBar.astro';

import { getCollection } from "astro:content";
import { Image } from 'astro:assets';

const skills = await getCollection("skills");

// LANGUAGES
export function langMap(lang: string): string {
  switch(lang) {
    case "C#": 
      return "CS";
    case "C++":
      return "Cpp";
    default:
      return lang;
  }
}

const languageIcos = import.meta.glob<ImageMetadata>('../assets/Languages/*.svg', {
  eager: true,
  import: 'default', 
});

const languages = ["Java", "JavaScript", "php", "C++", "C#", "C", "Python", "Kotlin", "Dart", "Rust", "Haskell", "OCaml", "MATLAB", "Swift", "Assembly", "SQL"];

// FRAMEWORKS
const frameworkIcons = import.meta.glob<ImageMetadata>('../assets/Frameworks/*.svg', {
  eager: true,
  import: 'default', 
});

const frameworks = ["React", "Astro.js", "Gatsby.js", "Webpack", "Typescript", "Vite", "JavaFX", "Xamarin", "MAUI", "ASP.NET", "Razor", "Babylon.js", "MySQL", "PostgreSQL", "SQLite", "NestJs", "Flutter", "Jetpack Compose", "OpenGL", "Room"];

// TAGS

const tags = ["Visual Computing", "API", "Database", "Desktop Program", "Game", "Web", "Mobile App", "Cloud Application", "Machine Learning / AI", "Computer Networks", "Computer Graphics", "Parallel Programming", "DevOps", "Data science", "Compiler", "Algorithms", "Mathematics"];
const tools = ["Visual Studio", "Android Studio", "VS Code", "Eclipse", "XCode", "GitLab", "GitHub", "Docker Desktop", "Blender", "MeshLab", "NERF Studio", "D365", "Editor", "Insomnia", "Postman", "Squidex", "Magnolia", "Pulumi", "Wordpress", "Webflow", "Make.com", "NeonDB", "MySQLWorkbench", "Kubernetes", "Docker","MS Entra", "Clerk", "PowerApps", "Unity", "pgAdmin", "DB Browser", "Azure", "Notion", "MS Teams", "Atlassian", "DataDog"];


// TODO typisize the lang, fw, tags, tools (also in json/zod)
// TODO tag as component

// TODO define Git, Docker, Kubernets 
// TODO add Linux? Ubuntu/Fedora somwhere?
// TODO tutorials? OpenGL Tutorial, Parallel Programming, ETH courses? as IsTheory?
---

<!-- Initial paragraph -->
<div class="max-w-xl mx-auto text-center px-4 mb-8">
  <h2 class="text-3xl font-bold mb-2">
    Welcome to my site!
  </h2>
  <p class="text-gray-600 text-base italic">
    This website is the greatest I've ever seen, some say the greatest of the world. Tremendous!
    Please explore what I have written here, look around and I am sure you find something interesting.
    Feel free to contact me anytime!
  </p>
</div>
<!-- Search and Filter-->
<SearchBar />
<div class="flex flex-wrap justify-center align gap-3 mt-4 mb-8">   
  {languages.map((lang: string) => (
    <div class="lang-tag p-1 flex flex-col justify-center items-center cursor-pointer hover:-translate-y-1 transition-transform duration-200">
      <Image class="h-8 w-8" height="32" width="32" title={lang} alt={lang} src={languageIcos[`../assets/Languages/${langMap(lang)}.svg`]}/>
      <p class="text-sm mt-2">{lang}</p>
    </div> 
  ))}
</div>
<div class="flex flex-wrap justify-center gap-2 mt-4">   
  {frameworks.map((fw: string) => (
    <div class="fw-tag p-1 hidden flex flex-col justify-center items-center cursor-pointer hover:-translate-y-1 transition-transform duration-200">
      <Image class="h-8 w-8" height="32" width="32" title={fw} alt={fw} src={frameworkIcons[`../assets/Frameworks/${fw}.svg`]}/>
      <p class="text-sm mt-2">{fw}</p>
    </div>   ))}
</div>
<div class="flex flex-wrap justify-center gap-2 mt-4">   
  {tags.map((tag: string) => (
    <div class="tag-tag text-sm bg-gray-300 rounded-lg py-1 px-2 cursor-pointer">{tag}</div>
  ))}
</div>
<div class="flex flex-wrap justify-center gap-2 mt-4">   
  {tools.map((tool: string) => (
    <div class="tool-tag text-sm bg-gray-300 rounded-lg py-1 px-2 cursor-pointer">{tool}</div>
  ))}
</div>

<!-- Skills -->
<SkillList items={skills} />


<script>
// TODO: oh boy make it cleaner, maybe think of using Vue.js / React for the search list
  function fwMap(fw: string): string {
    switch(fw) {
      case "React": 
        return "JavaScript";
      case "Astro.js":
        return "JavaScript";
      case "Gatsby.js":
        return "JavaScript";
      case "Webpack":
        return "JavaScript";
      case "Typescript":
        return "JavaScript";
      case "Vite":
        return "JavaScript";
      case "JavaFX":
        return "Java";
      case "Xamarin":
        return "C#";
      case "MAUI":
        return "C#";
      case "ASP.NET":
        return "JavaScript";
      case "Razor":
        return "C#";
      case "Babylon.js":
        return "JavaScript";
      case "MySQL":
        return "SQL";
      case "PostgreSQL":
        return "SQL";
      case "SQLite":
        return "SQL";
      case "NestJs":
        return "JavaScript";
      case "Flutter":
        return "Dart";
      case "Jetpack Compose":
        return "Kotlin";
      case "OpenGL":
        return "C++";
      case "Room":
        return "Dart";
      default:
        return "";
    }
  }


  const input = document.getElementById("search-input") as HTMLInputElement;
  const items = document.querySelectorAll(".skill-item");

  input?.addEventListener("input", () => {
    const query = input.value.toLowerCase().trim();

    items.forEach(item => {
        const el = item as HTMLElement;
        const matches = !(el.dataset.search ?? "").includes(query);
        item.classList.toggle("hidden", matches);
    });
  });

  const langs = document.querySelectorAll(".lang-tag");
  const fws = document.querySelectorAll(".fw-tag");
  const tags = document.querySelectorAll(".tag-tag");
  const tools = document.querySelectorAll(".tool-tag");

  langs.forEach(lang => {
    lang.addEventListener("click", () => {
      highlight("lang", lang as HTMLElement)
      filter("lang", lang.children[1].innerHTML)
      displayFW(lang.children[1].innerHTML)
    })
  })

  fws.forEach(fw => {
    fw.addEventListener("click", () => {
      highlight("fw", fw as HTMLElement)
      filter("framework", fw.children[1].innerHTML)
    })
  })

  tags.forEach(tag => {
    tag.addEventListener("click", () => filter("tag", tag.innerHTML))
  })

  tools.forEach(tool => {
    tool.addEventListener("click", () => filter("tool", tool.innerHTML))
  })

  function filter(type: string, filter: string) {
    items.forEach(item => {
      const el = item as HTMLElement;
      const matches = !el.dataset[type + 's']?.split(',').includes(filter);
      item.classList.toggle("hidden", matches);
    });
  }

  function highlight(type: string, el: HTMLElement) {
    const highlighted = document.querySelectorAll(`.highlighted${type == "fw" ? ".fw-tag" : ""}`);
    highlighted.forEach(h => {
      h.classList.remove("outline", "outline-dashed", "outline-[#C10A49]", "highlighted")
    })

    el.classList.add("outline", "outline-dashed", "outline-[#C10A49]", "highlighted")
  }
  
  function displayFW(lang: string) {
    fws.forEach((fw) => {
      if(!(fwMap(fw.children[1].innerHTML) === lang)) {
          fw.classList.add("hidden");
      } else {
          fw.classList.remove("hidden");
      }
    })
  }

</script>