---
import SkillList from '../components/SkillList.astro';
import SearchBar from '../components/SearchBar.astro';

import { getCollection } from "astro:content";
import { Image } from 'astro:assets';

const skills = await getCollection("skills");

// LANGUAGES
export function langMap(lang: string): string {
  switch(lang) {
    case "C#": 
      return "CS";
    case "C++":
      return "Cpp";
    default:
      return lang;
  }
}

const languageIcons = import.meta.glob<ImageMetadata>('../assets/Languages/*.svg', {
  eager: true,
  import: 'default', 
});

const languages = ["Java", "JavaScript", "php", "C++", "C#", "C", "Python", "Kotlin", "Dart", "Rust", "Haskell", "OCaml", "MATLAB", "Swift", "Assembly", "SQL"];

// FRAMEWORKS
const frameworkIcons = import.meta.glob<ImageMetadata>('../assets/Frameworks/*.svg', {
  eager: true,
  import: 'default', 
});

const frameworks = ["React", "Astro.js", "Gatsby.js", "Webpack", "Typescript", "Vite", "JavaFX", "Xamarin", "MAUI", "ASP.NET", "Razor", "Babylon.js", "MySQL", "PostgreSQL", "SQLite", "NestJs", "Flutter", "Jetpack Compose", "OpenGL", "Room"];

// TAGS

const tags = ["Visual Computing", "API", "Database", "Desktop Program", "Game", "Web", "Mobile App", "Cloud Application", "Machine Learning / AI", "Computer Networks", "Computer Graphics", "Parallel Programming", "DevOps", "Data science", "Compiler", "Algorithms", "Mathematics"];

// TOOLS

const toolIcons = import.meta.glob<ImageMetadata>('../assets/Tools/*.svg', {
  eager: true,
  import: 'default', 
});

function toolMap(tool: string): string {
  switch(tool) {
    case "Visual Studio": 
      return "IDE";
    case "Android Studio":
      return "IDE";
    case "VS Code": 
      return "IDE";
    case "Eclipse":
      return "IDE";
    case "XCode": 
      return "IDE";
    case "GitLab":
      return "Version Control";
    case "GitHub": 
      return "Version Control";
    case "Docker Desktop":
      return "Containerization";
    case "Blender": 
      return "3D Viewer";
    case "MeshLab":
      return "3D Viewer";
    case "NERF Studio": 
      return "3D Viewer";
    case "D365":
      return "CRM";
    case "Editor": 
      return "IDE";
    case "Insomnia":
      return "Networking";
    case "Postman": 
      return "Networking";
    case "Squidex":
      return "CMS";
    case "Magnolia": 
      return "CMS";
    case "Pimcore":
      return "CMS";
    case "WordPress": 
      return "Webdevelopment";
    case "Webflow":
      return "Webdevelopment";
    case "Make.com": 
      return "Low Code Automation";
    case "NeonDB":
      return "Database Administration";
    case "MySQLWorkbench": 
      return "Database Administration";
    case "phpMyAdmin":
      return "Database Administration";
    case "MS Entra": 
      return "User Authorization";
    case "Clerk":
      return "User Authorization";
    case "Power Apps": 
      return "Low Code Automation";
    case "Unity":
      return "IDE";
    case "pgAdmin": 
      return "Database Administration";
    case "SQLiteBrowser":
      return "Database Administration";
    case "Notion": 
      return "Work Management";
    case "Azure":
      return "Cloud";
    case "MS Teams":
      return "Work Management";
    case "Atlassian": 
      return "Work Management";
    case "DataDog":
      return "Monitoring";
    case "Docker":
      return "Containerization";
    case "Kubernetes":
      return "Cloud";
    case "Git":
      return "Version Control";
    case "Linux":
      return "Operating System";
    case "Ubuntu":
      return "Operating System";
    case "Fedora":
      return "Operating System"; 
    case "Windows":
      return "Operating System"; 
    case "MS DOS":
      return "Operating System"; 
    case "MacOS":
      return "Operating System"; 
    case "Android":
      return "Operating System"; 
    case "iOS":
      return "Operating System";
    case "MS Office":
      return "Office";
    case "Gimp":
      return "Design";
    case "ChatGPT":
      return "LLM";
    case "DeepSeek":
      return "LLM";
    case "Mistral":
      return "LLM";
    case "Gemini":
      return "LLM";
    case "Outlook":
      return "Office";
    case "Figma":
      return "Design";
    case "HTML":
      return "Webdevelopment";
    case "CSS":
      return "Webdevelopment";
    default:
      return "";
  }
}

const tools = ["Visual Studio", "Figma", "Android Studio", "Gimp", "VS Code", "Eclipse", "XCode", "GitLab", "GitHub", "MS Office", "Blender", "CSS", "HTML", "D365", "Insomnia", "Postman", "Squidex", "Magnolia", "Pimcore", "WordPress", "Webflow", "Outlook", "Make.com", "NeonDB", "MySQLWorkbench", "phpMyAdmin", "MS Entra", "Clerk", "Power Apps", "Unity", "pgAdmin", "SQLiteBrowser", "Notion", "MS Teams", "Atlassian", "DataDog", "Docker", "Kubernetes", "Azure", "Git", "Linux", "Ubuntu", "Fedora", "Windows", "MS DOS", "MacOS", "Android", "iOS", "DeepSeek", "ChatGPT", "Gemini", "Mistral"];
const toolTypes = ["Version Control", "IDE", "CMS", "3D Viewer", "Database Administration", "CRM", "Networking", "Operating System", "Low Code Automation", "User Authorization", "Webdevelopment", "Cloud", "Containerization", "Work Management", "Monitoring", "Office", "LLM", "Design"];

// TODO typisize the lang, fw, tags, tools (also in json/zod)
// TODO tag as component
// TODO all logos -> or round circle for skils w/o logo (different color based on isProject, isTask, isApplication)
// TODO programmed apps logos if available


// TODO: accept both png or svg -> nope?

// TODO: add years (as CV?)

// TODO: mobile download link extra (no hover)
// TODO: add HTML/css
// TODO: working dl links = host somewhere?
// TODO: reoi restructure

---

<!-- Initial paragraph -->
<div class="max-w-xl mx-auto text-center px-4 mb-8">
  <h2 class="text-3xl font-bold mb-2">
    Welcome to my site!
  </h2>
  <p class="text-gray-600 text-base italic">
    This website is the greatest I've ever seen, some say the greatest of the world. Tremendous!
    Please explore what I have written here, look around and I am sure you find something interesting.
    Feel free to contact me anytime!
  </p>
</div>
<!-- Search and Filter-->
<section id="search" class="scroll-mt-24">
  <div class="flex justify-center items-center flex-col md:flex-row gap-4 mt-2 mb-4">
    <SearchBar />
    <div id="reset-button" class="flex font-bold items-center bg-[#C10A49] rounded-lg py-1 px-2 cursor-pointer hover:-translate-y-1 transition-transform duration-200">Reset filter</div>
  </div>
</section>

<!-- Programming Languages -->
<p class="mt-4 mb-1 text-center text-lg font-bold">Programming Languages:</p>
<div class="flex flex-wrap justify-center align gap-3 mt-4 mb-2">   
  {languages.map((lang: string) => (
    <div class="lang-tag p-1 flex flex-col justify-center items-center cursor-pointer hover:-translate-y-1 transition-transform duration-200">
      <Image class="h-8 w-8" height="32" width="32" title={lang} alt={lang} src={languageIcons[`../assets/Languages/${langMap(lang)}.svg`]}/>
      <p class="text-sm mt-2">{lang}</p>
    </div> 
  ))}
</div>
<div class="flex flex-wrap justify-center gap-2 mt-2">   
  {frameworks.map((fw: string) => (
    <div class="fw-tag p-1 hidden flex flex-col justify-center items-center cursor-pointer hover:-translate-y-1 transition-transform duration-200">
      <Image class="h-8 w-8" height="32" width="32" title={fw} alt={fw} src={frameworkIcons[`../assets/Frameworks/${fw}.svg`]}/>
      <p class="text-sm mt-2">{fw}</p>
    </div>   
  ))}
</div>

<!-- Tags -->
<div class="flex flex-wrap justify-center gap-2 mt-4">   
  {tags.map((tag: string) => (
    <div class="tag-tag text-sm bg-gray-300 rounded-lg py-1 px-2 cursor-pointer hover:-translate-y-1 transition-transform duration-200">{tag}</div>
  ))}
</div>

<!-- Skill Type -->
 <div class="flex justify-center gap-8 my-4">
  <div id="project-filter" class="flex flex-col items-center gap-2 cursor-pointer hover:-translate-y-1 transition-transform duration-200">
    <div class="w-12 h-12 rounded-full bg-red-300"></div>
    <p>Project</p>
  </div>
  <div id="application-filter" class="flex flex-col items-center gap-2 cursor-pointer hover:-translate-y-1 transition-transform duration-200">
    <div class="w-12 h-12 rounded-full bg-blue-300"></div>
    <p>Application</p>
  </div>
  <div id="task-filter" class="flex flex-col items-center gap-2 cursor-pointer hover:-translate-y-1 transition-transform duration-200">
    <div class="w-12 h-12 rounded-full bg-green-300"></div>
    <p>Task</p>
  </div>
  <div id="theory-filter" class="flex flex-col items-center gap-2 cursor-pointer hover:-translate-y-1 transition-transform duration-200">
    <div class="w-12 h-12 rounded-full bg-orange-300"></div>
    <p>Theory</p>
  </div>
</div>

<!-- Tool Scroll Button -->
<div class="flex justify-center">
  <div id="tool-scroll-button" onclick="location.href='#tools'"class="font-bold bg-[#C10A49] rounded-lg py-1 px-2 cursor-pointer hover:-translate-y-1 transition-transform duration-200">Show Tools</div>
</div>

<!-- Skills -->
<SkillList items={skills} />

<!-- Tools -->
<section id="tools" class="scroll-mt-24">
  <p class="mt-8 mb-1 text-center text-lg font-bold border-t border-black pt-8">Programs, Tools and Apps:</p>
  <div class="my-4 grid grid-cols-1 md:grid-cols-3">   
    {toolTypes.map((tt: string, idx: number) => (
      <div class={`mb-6 text-center ${idx % 3 == 0 ? "md:text-left" : (idx % 3 == 1 ? "md:text-center": "md:text-right")}`}>
        <div class="tt-tag my-2 text-md font-bold">{tt}</div>
        <div class={`flex flex-row justify-center flex-wrap md:flex-nowrap ${idx % 3 == 0 ? "md:justify-start" : (idx % 3 == 1 ? "md:justify-center": "md:justify-end")}`}>
          {tools.filter(tool => toolMap(tool) == tt).map((tool: string) => (
              <div class="tool-tag p-1 flex flex-col whitespace-nowrap justify-center items-center">
                <Image class="h-8 w-8" height="32" width="32" title={tool} alt={tool} src={toolIcons[`../assets/Tools/${tool}.svg`]}/>
                <p class="text-sm mt-2">{tool}</p>
              </div> 
            ))}
        </div>
      </div>
    ))}
  </div>
</section>

<!-- Scroll up button -->
<div onclick="location.href='#search'" class="fixed bottom-0 right-4 mb-4 font-bold text-lg bg-[#C10A49] rounded-lg py-1 px-2 cursor-pointer hover:-translate-y-1 transition-transform duration-200">↑</div>

<script>
// TODO: oh boy make it cleaner, maybe think of using Vue.js / React for the search list
  function fwMap(fw: string): string {
    switch(fw) {
      case "React": 
        return "JavaScript";
      case "Astro.js":
        return "JavaScript";
      case "Gatsby.js":
        return "JavaScript";
      case "Webpack":
        return "JavaScript";
      case "Typescript":
        return "JavaScript";
      case "Vite":
        return "JavaScript";
      case "JavaFX":
        return "Java";
      case "Xamarin":
        return "C#";
      case "MAUI":
        return "C#";
      case "ASP.NET":
        return "C#";
      case "Razor":
        return "C#";
      case "Babylon.js":
        return "JavaScript";
      case "MySQL":
        return "SQL";
      case "PostgreSQL":
        return "SQL";
      case "SQLite":
        return "SQL";
      case "NestJs":
        return "JavaScript";
      case "Flutter":
        return "Dart";
      case "Jetpack Compose":
        return "Kotlin";
      case "OpenGL":
        return "C++";
      case "Room":
        return "Dart";
      default:
        return "";
    }
  }

  const langs = document.querySelectorAll(".lang-tag");
  const fws = document.querySelectorAll(".fw-tag");
  const tags = document.querySelectorAll(".tag-tag");

  // reset button
  document.getElementById("reset-button")?.addEventListener("click", () => {
    const highlighted = document.querySelectorAll('.highlighted');
    highlighted.forEach(h => {
      h.classList.remove("outline", "outline-dashed", "outline-[#C10A49]", "highlighted")
    })
    items.forEach(item => {
      item.classList.remove("hidden");
    })

    fws.forEach(fw => {
      fw.classList.add("hidden")
    })
  })


  const input = document.getElementById("search-input") as HTMLInputElement;
  const items = document.querySelectorAll(".skill-item");

  input?.addEventListener("input", () => {
    const query = input.value.toLowerCase().trim();

    items.forEach(item => {
        const el = item as HTMLElement;
        const matches = !(el.dataset.search ?? "").includes(query);
        item.classList.toggle("hidden", matches);
    });
  });

  // tags
  tags.forEach(tag => {
    tag.addEventListener("click", () => filter("tag", tag.innerHTML))
  })

  // langs
  langs.forEach(lang => {
    lang.addEventListener("click", () => {
      highlightLang("lang", lang as HTMLElement)
      filter("lang", lang.children[1].innerHTML)
      displayFW(lang.children[1].innerHTML)
    })
  })

  fws.forEach(fw => {
    fw.addEventListener("click", () => {
      highlightLang("fw", fw as HTMLElement)
      filter("framework", fw.children[1].innerHTML)
    })
  })

  // types
  const projectBtn = document.getElementById("project-filter");
  const applicationBtn = document.getElementById("application-filter");
  const taskBtn = document.getElementById("task-filter");
  const theoryBtn = document.getElementById("theory-filter");

  projectBtn?.addEventListener("click", () => {
      filter("type", projectBtn.children[1].innerHTML.toLowerCase())
  })

  applicationBtn?.addEventListener("click", () => {
      filter("type", applicationBtn.children[1].innerHTML.toLowerCase())
  })

  taskBtn?.addEventListener("click", () => {
      filter("type", taskBtn.children[1].innerHTML.toLowerCase())
  })

  theoryBtn?.addEventListener("click", () => {
      filter("type", theoryBtn.children[1].innerHTML.toLowerCase())
  })



  // filter

  function filter(type: string, filter: string) {
    items.forEach(item => {
      const el = item as HTMLElement;
      const matches = !el.dataset[type + 's']?.split(',').includes(filter);
      item.classList.toggle("hidden", matches);
    });
  }

  function highlightLang(type: string, el: HTMLElement) {
    const highlighted = document.querySelectorAll(`.highlighted${type == "fw" ? ".fw-tag" : ""}`);
    highlighted.forEach(h => {
      h.classList.remove("outline", "outline-dashed", "outline-[#C10A49]", "highlighted")
    })

    el.classList.add("outline", "outline-dashed", "outline-[#C10A49]", "highlighted")
  }
  
  function displayFW(lang: string) {
    fws.forEach((fw) => {
      if(!(fwMap(fw.children[1].innerHTML) === lang)) {
          fw.classList.add("hidden");
      } else {
          fw.classList.remove("hidden");
      }
    })
  }

</script>