---
import { getCollection } from 'astro:content';

const entries = await getCollection('blog');
const { slug } = Astro.params;

// topics
const topics = entries.filter(e => e.id.endsWith('index.md') && e.slug.split('/').length == 1);

// entries of current topic
const navStructure = slug?.split('/') ?? []
const topicName = navStructure ? navStructure[0] : '';
const topicEntries = entries.filter(entry => entry.slug.split('/').length <= 2 &&
  !entry.id.endsWith('index.md') && entry.slug.split('/')[0].startsWith(`${topicName}`));

// subtopics and their entries
const subTopics = entries.filter(e => e.id.endsWith('index.md') && e.slug.split('/').length >= 2 && e.slug.split('/')[0] == (navStructure ? navStructure[0] : ''));
const subTopicName = navStructure?.length >= 2 ? navStructure[1] : '';
const subTopicEntries = entries.filter(entry => navStructure.length > 1 &&
     !entry.id.endsWith('index.md') && entry.slug.split('/')[1].startsWith(`${subTopicName}`));
---

<aside class="bg-[#FDD8C8] pl-5 pt-5 border-r border-r-[1px] border-r-[#FFFFFF]">
  <h2 class="font-bold text-lg"><a href="/webieat">Home</a></h2>
  <h2 class="font-bold text-lg"><a href="/webieat/about">About</a></h2>
  <h2 class="font-bold text-lg italic"><a href="/webieat/blog">Blog</a></h2>
  <ul>
    {topics
      .map(topic => (
        <li>
          <a class={`font-bold underline ${topic.slug == topicName ? 'italic' : ''}`} href={`/blog/${topic.slug}/`}>
            {topic.data.title}
          </a>
          <ul>
            {topic.slug === topicName && subTopics.map(subTopic => (
              <li class="ml-2">
                <a class={`font-bold ${subTopic.slug.split('/')[1] == subTopicName ? 'italic' : ''}`} href={`/blog/${subTopic.slug}/`}>
                  {subTopic.data.title}
                </a>
              </li>
              <ul>
                {subTopic.slug.split('/')[1] == subTopicName && subTopicEntries.map(subTopicEntry => (
                  <li class="ml-4">
                    <a class={`${slug === subTopicEntry.slug ? 'italic' : ''} block truncate`} title={subTopicEntry.data.title} href={`/blog/${subTopicEntry.slug}/`}>
                      {subTopicEntry.data.title}
                    </a>
                  </li>
                ))}
              </ul>
            ))}
          </ul>
          {topic.slug === topicName && topicEntries.map(topicEntry => (
            <ul>
              <li class="ml-2">
                <a class={`${slug === topicEntry.slug ? 'italic' : ''} block truncate`} title={topicEntry.data.title} href={`/blog/${topicEntry.slug}/`}>
                  {topicEntry.data.title}
                </a>
              </li>
            </ul>
          ))}
        </li>
      ))}
  </ul>
</aside>

