---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { langMap} from '../pages/LandingPage.astro'

const { item } = Astro.props;

const languageIcons = import.meta.glob<ImageMetadata>('../assets/Languages/*.svg', {
  eager: true,
  import: 'default',
});

const logosSVG = import.meta.glob<ImageMetadata>('../assets/Logos/*.svg', {
  eager: true,
  import: 'default',
});

const logosPNG = import.meta.glob<ImageMetadata>('../assets/Logos/*.png', {
  eager: true,
  import: 'default',
});

let logoIcon = logosSVG[`../assets/Logos/${item.data.id}.svg`] ?? logosPNG[`../assets/Logos/${item.data.id}.png`];
---

<div onclick={item.data.url ? `window.location.href='${item.data.url}'` : null} class={`skill-item relative px-4 py-6 group ${item.data.url ? "cursor-grab hover:rounded hover:outline hover:outline-[#C10A49]" : null}`} data-tags={item.data.tags} data-tools={item.data.tools} data-frameworks={item.data.frameworks} data-langs={item.data.languages} data-search={`${item.data.topic} ${item.data.description} ${item.data.languages} ${item.data.frameworks} ${item.data.tags} ${item.data.tools}`.toLowerCase()}>
    <!-- DL -->
    {item.data.url ? <div class="absolute top-0 left-1/2 -translate-x-1/2 whitespace-nowrap opacity-0 group-hover:opacity-100 text-[#C10A49] italic font-bold">CLICK TO DOWNLOAD / OPEN</div> : null}
    
    <!-- Item content -->
    <div class="flex flex-col items-center text-center">
      <!-- Logo and Name -->
      {logoIcon ? 
        <Image class="h-12 w-12 rounded-full" title={item.data.topic} alt={item.data.topic} src={logoIcon}/>
        : <div class={`w-12 h-12 rounded-full ${item.data.isProject ? 'bg-red-300' : (item.data.isApplication ? 'bg-blue-300' : 'bg-green-300')} mb-4`}></div>
      }
      <h3 class="text-lg font-semibold mb-2">{item.data.topic}</h3>

      <!-- Languages -->
      <div class="flex flex-wrap justify-center gap-2 mb-2">   
        {item.data.languages.map((lang: string) => (
          <Image class="h-8 w-8" height="32" width="32" title={lang} alt={lang} src={languageIcons[`../assets/Languages/${langMap(lang)}.svg`]}/>
        ))}
      </div>

      <!-- Description -->
      <p class="text-sm text-gray-600 mb-2">{item.data.description}</p>

      <!-- Tags -->
      <!-- <div class="flex flex-wrap justify-center gap-2 mb-2">   
        {item.data.tags.map((tag: string) => (
          <div class="text-sm bg-gray-300 rounded-lg py-1 px-2">{tag}</div>
        ))}
      </div> -->

      {item.data.codebase ? <a href={item.data.codebase} onclick="event.stopPropagation()" target="_blank" class="italic underline mb-1 cursor-pointer">Link to Codebase</a> : null}

      <!-- Tools -->
      <!-- <div class="flex flex-wrap justify-center gap-2">   
        {item.data.tools.map((tool: string) => (
          <Image class="h-8 w-8" height="32" width="32" title={tool} alt={tool} src={toolIcons[`../assets/Tools/${tool}.svg`]}/>
        ))}
      </div> -->
    </div>

    <!-- DL -->
    {item.data.url ? <div class="absolute bottom-0 left-1/2 -translate-x-1/2 whitespace-nowrap opacity-0 group-hover:opacity-100 text-[#C10A49] italic font-bold">CLICK TO DOWNLOAD / OPEN</div> : null}
</div>
