---
import type { ImageMetadata } from 'astro';

const { item } = Astro.props;

function langMap(lang: string): string {
  switch(lang) {
    case "C#": 
      return "CS";
    case "Haskell":
      return "C++";
    case "SQL":
      return "C++";
    case "MATLAB":
      return "C++";
    case "Rust":
      return "C++";
    case "Assembly":
      return "C++";
    case "C":
      return "C++";
    case "OCaml":
      return "C++";
    default:
      return lang;
  }
}

const languageSVGs = import.meta.glob<ImageMetadata>('../assets/Languages/*.svg', {
  eager: true,
  import: 'default',
});

const toolSVGs = import.meta.glob<ImageMetadata>('../assets/Tools/*.svg', {
  eager: true,
  import: 'default',
});
const logoSVG = languageSVGs[`../assets/Languages/CS.svg`];
const toolSVG = toolSVGs[`../assets/Tools/VisualStudio.svg`];

---

<div class="skill-item flex flex-col items-center text-center p-4" data-search={`${item.data.topic} ${item.data.description} ${item.data.languages} ${item.data.frameworks} ${item.data.tags} ${item.data.tools}`.toLowerCase()}>
    <div class={`w-16 h-16 rounded-full mb-4`} style={`background-image: url(${logoSVG.src})`}></div>
    <h3 class="text-lg font-semibold mb-2">{item.data.topic}</h3>

    <!-- Languages -->
    <div class="flex flex-wrap justify-center gap-2 mb-2">   
      {item.data.languages.map((lang: string) => (
        <img class="w-8 h-8" style={`background-image: url(${languageSVGs[`../assets/Languages/${langMap(lang)}.svg`].src})`}/>
      ))}
    </div>

    <!-- Description -->
    <p class="text-sm text-gray-600 mb-2">{item.data.description}</p>

    <!-- Tags -->
    <div class="flex flex-wrap justify-center gap-2 mb-2">   
      {item.data.tags.map((tag: string) => (
        <div class="text-sm bg-gray-300 rounded-lg py-1 px-2">{tag}</div>
      ))}
    </div>

    <!-- Tools -->
    <div class="flex flex-wrap justify-center gap-2">   
      {item.data.tools.map((tool: string) => (
        <div class="w-6 h-6 bg-no-repeat bg-center bg-contain" style={`background-image: url(${toolSVG.src})`}></div>
      ))}
    </div>
</div>